// Responsive
$mobileBreakpoint: 864px;
$tabletBreakpoint: 1024px;
@mixin mobile() {
  @media screen and (max-width: $mobileBreakpoint) {
    @content;
  }
} // @include mobile { }
@mixin mobileXSmall() {
  @media screen and (max-width: 340px) {
    @content;
  }
} // @include mobile { }
@mixin mobileSmall() {
  @media screen and (max-width: 400px) {
    @content;
  }
} // @include mobile { }
@mixin desktop() {
  @media screen and (min-width: $mobileBreakpoint + 1px) {
    @content;
  }
} // @include desktop { }
@mixin tablet() {
  @media screen and (max-width: $tabletBreakpoint) {
    @content;
  }
} // @include tablet { }
@mixin onlyTablet() {
  @media screen and (max-width: $tabletBreakpoint) and (min-width: $mobileBreakpoint) {
    @content;
  }
} // @include tablet { }



@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}

//$font-1: "font-1", sans-serif;
//$font-2: "font-2", serif;
//$font-3: "font-3", serif;

$font-1: "arial", sans-serif;
$font-2: "arial", serif;
$font-3: "arial", serif;

$color-1: #0e2e3d;
$color-2: #ccc;
$color-2-light: rgb(238, 238, 238);
$color-3: rgb(0, 22, 44);
$color-4: #93d1cc;
//e7cf4f
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

html, body, .root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

  /*&::selection {
    background: $color-1;
  }*/
}

* {
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

input[type=submit], button {
  padding: 0.8rem;
  border-radius: 9px;
  background: $color-1!important;
  width: max-content;
  color: white!important;
  cursor: pointer;
}

input[type=file] {
  display: none;
}
.custom-file-upload {
  border-radius: 9px;
  border: 1px solid $color-2;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

a,
a:visited {
  color: $color-3;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
body {
  font-family: $font-2;
  line-height: 1.4rem;
  background: $white;
  color: $color-3;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
